<%= form_with model: blog, url: url do |form|%>
  <div>
    Blog識別碼: <%= form.text_field :handler%>
  </div>
  <div>
    站名: <%= form.text_field :title%>
  </div>
  <div>
    說明: <%= form.text_area :description%>
  </div>
  <%= form.submit "新增" %>
<% end %>
