<h1>新增 Blog</h1>

<%= form_with model: @blog do |form| %>
  <div>
    <%= form.label :handler %>
    <%= form.text_field :handler %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <%= form.submit %>
<% end %>

<%= link_to %>