<% if article.errors.any? %>
  <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for article do |form| %>
  <div>
  標題：
  <%= form.text_field :title %>
  </div>

  <div>
  內容：
  <%= form.text_area :content %>
  </div>

  <div>
  密碼：
  <%= form.text_field :pincode %>
  貼心小提示：如不需設定，可留白即可
  </div>

  <%= form.submit %>
<% end %>
