<% if article.errors.any? %>
  <ul>
    <% article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for article do |form| %>
  標題：
  <%= form.text_field :title %>

  內容：
  <%= form.text_area :content %>

  <%= form.submit %>
<% end %>
