<h1><%= @article.title %></h1>

<section data-controller="like" 
         data-article-id="<%= @article.id %>"
         data-liked="<%= current_user &.like?(@article) %>" >
         
  <button data-like-target="likeBtn" 
          data-action="click -> like#like_article"
          > ☆
  </button>  

</section>


<p>
  <% if is_locked?(@article) %>
    <%= form_with url: unlock_article_path(@article), method: "patch" do |form| %>
      <%= form.text_field :pin_code %>
      <%= form.submit "解鎖" %>
    <% end %>
  <% else %>
    <%= @article.content %>
  <% end %>
</p>

<section>
  <h2>留言區</h2>
  <ul class = "comment_list">
    <%= render @comments %>
  </ul>

  <%= form_with model: @comment,local: false, url: article_comments_path(@article) do |form| %>
    <div id = "comment-content"><%= form.text_area :content %></div>
    <%= form.submit '留言' %>
  <% end %>

</section>


<%= link_to "返回", blogs_path %>