<h1><%= @article.title %></h1>

<p>
  <% if is_locked?(@article) %>
    <%= form_with url: unlock_article_path(@article), method: "patch" do |f| %>
      輸入密碼：<%= f.text_field :pincode %>
      <%= f.submit "解鎖" %>
    <% end %>
  <% else %>
    <%= @article.content %>
  <% end %>
</p>

<section>
  <h4>留言區</h4>
  <%= form_with model: [@article, @comment], local: false  do |form| %>
    <%= form.text_area :content %>
    <%= form.submit "送出" %>
  <% end %>

<ul class="comment_list">
  <%= render @comments %>
</ul>

</section>
