<h1>登入</h1>

<%= form_with model: @user, url: sessions_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password, "密碼" %>
    <%= form.password_field :password %>
  </div>

  <%= form.submit "登入" %>
<% end %>

<%= link_to '返回', blogs_path %>