<nav>
  <ul>
    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li>
        <%= link_to "Blog", blogs_path(handler: current_user.blog&.handler) if current_user.blog.present? %>
        <%= link_to "編輯", edit_blogs_path(handler: current_user.blog&.handler) if current_user.blog.present? %>
        <%= link_to "新增文章", new_article_path %>
      </li>
      <li><%= link_to "Photo", "#" if current_user.blog.present? %></li>
      <li><%= link_to "登出", sessions_path, method: "delete" %></li>
    <% else %>
      <li><%= link_to "登入", sign_in_users_path %></li>
      <li><%= link_to "註冊", sign_up_users_path %></li>
    <% end %>
  </ul>
</nav>
