<!DOCTYPE html>
<html>
  <head>
    <title>Rich</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to "登入", sign_in_users_path %></li>
        <li><%= link_to "註冊", sign_up_users_path %></li>
        <% if session[:user_session] %>
          <li>email</li>
        <% end %>
      </ul>
    </nav>
    User: <%= current_user.email %>
    <%= render 'flash/flash' if notice %>
    <%= yield %>
  </body>
</html>
